# Project Scope

This project uses the UCI patient dataset to generate a model to predict diabetic patients at high risk for re-hospitalization

# Data Set Exploration

In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split

In [3]:
#load the diabetic dataset
diabetic_df = pd.read_csv('./diabetic_data.csv')

print(f'diabetic_data has shape {diabetic_df.shape}')

diabetic_data has shape (101766, 50)

In [5]:
#make a copy for data exploration and cleaning
df = diabetic_df.copy(deep=True)

In [6]:
#take a look at the features datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

## EDA

### Output variable

Here the output variable is the readmitted column

In [7]:
#function to summarize feature
def summarize_feature(dataframe,feature):
    feature_summary = {'values':dataframe[feature].value_counts().index.tolist(),
                     'counts':dataframe[feature].value_counts().values.tolist(),
                     'frequency': dataframe[feature].value_counts(normalize = True).values.tolist()}
    feature_summary = pd.DataFrame(feature_summary)
    return feature_summary

In [8]:
print('\n'+'*'*10 +'readmitted original'+'*'*10)
print(summarize_feature(df, 'readmitted'))

#replace target variable with numerical value
df['readmitted'] = df['readmitted'].replace('<30', 1)
df['readmitted'] = df['readmitted'].replace('>30', 0)
df['readmitted'] = df['readmitted'].replace('NO', 0)

print('\n'+'*'*10 +'readmitted cleaned'+'*'*10)
print(summarize_feature(df, 'readmitted'))

**********readmitted original**********
  values  counts  frequency
0     NO   54864   0.539119
1    >30   35545   0.349282
2    <30   11357   0.111599

**********readmitted cleaned**********
   values  counts  frequency
0       0   90409   0.888401
1       1   11357   0.111599

## Featuring Engineering

Here we will look at all the inputs

### Numerical Features

Numerical features are usually useable as is, no need for further modification.

In [9]:
df.select_dtypes(include=['int64']).columns.tolist()

['encounter_id',
 'patient_nbr',
 'admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'time_in_hospital',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'number_diagnoses',
 'readmitted']

In [10]:
#converting all categorical numbers to str

df[['encounter_id','patient_nbr', 'admission_type_id','discharge_disposition_id', 'admission_source_id',]] = df[['encounter_id','patient_nbr', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id',]].astype(str)

In [11]:
#this is a list of all the numerical features
numeric_cols = [
 'time_in_hospital',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'number_diagnoses']

### Categorical Features

In [12]:
df.select_dtypes(include=['object']).columns.tolist()

['encounter_id',
 'patient_nbr',
 'race',
 'gender',
 'age',
 'weight',
 'admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'payer_code',
 'medical_specialty',
 'diag_1',
 'diag_2',
 'diag_3',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'examide',
 'citoglipton',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone',
 'change',
 'diabetesMed']

In [13]:
print('\n'+'*'*10 +'race original'+'*'*10)
print(summarize_feature(df, 'race'))

#replace ? with unknown
df.race = df.race.replace({'?':'unknown'})

print('\n'+'*'*10 +'race cleaned'+'*'*10)
print(summarize_feature(df, 'race'))

**********race original**********
            values  counts  frequency
0        Caucasian   76099   0.747784
1  AfricanAmerican   19210   0.188766
2                ?    2273   0.022336
3         Hispanic    2037   0.020017
4            Other    1506   0.014799
5            Asian     641   0.006299

**********race cleaned**********
            values  counts  frequency
0        Caucasian   76099   0.747784
1  AfricanAmerican   19210   0.188766
2          unknown    2273   0.022336
3         Hispanic    2037   0.020017
4            Other    1506   0.014799
5            Asian     641   0.006299

In [14]:
print('\n'+'*'*10 +'gender original'+'*'*10)
print(summarize_feature(df, 'gender'))

#only 3 unknown/invalid, drop rows
df = df[df.gender != 'Unknown/Invalid']

print('\n'+'*'*10 +'gender cleaned'+'*'*10)
print(summarize_feature(df, 'gender'))

**********gender original**********
            values  counts  frequency
0           Female   54708   0.537586
1             Male   47055   0.462384
2  Unknown/Invalid       3   0.000029

**********gender cleaned**********
   values  counts  frequency
0  Female   54708   0.537602
1    Male   47055   0.462398

In [15]:
print('\n'+'*'*10 +'age original'+'*'*10)
print(summarize_feature(df, 'age'))

#convert age feature
dict_age = {'[60-70)': 65, 
            '[40-50)': 45, 
            '[80-90)': 85,
               '[70-80)':75,
               '[50-60)':55,
               '[20-30)':25,
               '[90-100)':95,
               '[30-40)':35,
               '[0-10)':5,
               '[10-20)':15}
df.age.replace(dict_age, inplace=True)

print('\n'+'*'*10 +'age converted'+'*'*10)
print(summarize_feature(df, 'age'))

**********age original**********
     values  counts  frequency
0   [70-80)   26066   0.256144
1   [60-70)   22482   0.220925
2   [50-60)   17256   0.169570
3   [80-90)   17197   0.168991
4   [40-50)    9685   0.095172
5   [30-40)    3775   0.037096
6  [90-100)    2793   0.027446
7   [20-30)    1657   0.016283
8   [10-20)     691   0.006790
9    [0-10)     161   0.001582

**********age converted**********
   values  counts  frequency
0      75   26066   0.256144
1      65   22482   0.220925
2      55   17256   0.169570
3      85   17197   0.168991
4      45    9685   0.095172
5      35    3775   0.037096
6      95    2793   0.027446
7      25    1657   0.016283
8      15     691   0.006790
9       5     161   0.001582

In [16]:
print('\n'+'*'*10 +'weight original'+'*'*10)
print(summarize_feature(df, 'weight'))

#missing a lot of data, drop column
df = df.drop(['weight'], axis = 1)

print('\n'+'*'*10 +'weight cleaned'+'*'*10)
try:
    print(summarize_feature(df, 'weight'))
except:
    print('Feature does not exist')

**********weight original**********
      values  counts  frequency
0          ?   98566   0.968584
1   [75-100)    1336   0.013129
2    [50-75)     897   0.008815
3  [100-125)     625   0.006142
4  [125-150)     145   0.001425
5    [25-50)      97   0.000953
6     [0-25)      48   0.000472
7  [150-175)      35   0.000344
8  [175-200)      11   0.000108
9       >200       3   0.000029

**********weight cleaned**********
Feature does not exist

In [17]:
print('\n'+'*'*10 +'admission_type_id original'+'*'*10)
print(summarize_feature(df, 'admission_type_id'))

#urgent is used to replace 1,2, and 7 from IDs_mappings
dict_admission_type = {'1': 'urgent', 
            '2':'urgent', 
            '3':'elective',
               '4':'newborn',
               '5':'na',
               '6':'na',
               '7':'urgent',
               '8':'na'}
df.admission_type_id.replace(dict_admission_type, inplace=True)

print('\n'+'*'*10 +'admission_type_id cleaned'+'*'*10)
try:
    print(summarize_feature(df, 'admission_type_id'))
except:
    print('Feature does not exist')

**********admission_type_id original**********
  values  counts  frequency
0      1   53988   0.530527
1      3   18868   0.185411
2      2   18480   0.181598
3      6    5291   0.051993
4      5    4785   0.047021
5      8     320   0.003145
6      7      21   0.000206
7      4      10   0.000098

**********admission_type_id cleaned**********
     values  counts  frequency
0    urgent   72489   0.712332
1  elective   18868   0.185411
2        na   10396   0.102159
3   newborn      10   0.000098

In [18]:
print('\n'+'*'*10 +'discharge_disposition_id original'+'*'*10)
print(summarize_feature(df, 'discharge_disposition_id'))

#11, 13, 14, 19, 20, 21 are patients who are expired so no re-admission possible, drop these rows
expired_list = ['11','13','14','19','20','21']
df = df[~df.discharge_disposition_id.isin(expired_list)]

dict_discharge_disposition_id = {
    '1':'home', 
    '2':'hospital', 
    '3':'assisted',
    '4':'hospital',
    '5':'assisted',
    '6':'home',
    '7':'na',
    '8':'assisted',
    '9':'hospital',
    '10':'hospital',
    '12':'hospital',
    '15':'hospital',
    '16':'hospital',
    '17':'hospital',
    '18':'na',
    '22':'hospital',
    '23':'hospital',
    '24':'assisted',
    '25':'na',
    '26':'na',
    '30':'assisted',
    '27':'assisted',
    '28':'hospital',
    '29':'hospital',}
#amongst the discharge ID, they are broadly categorized into home, assisted (nursing home, homecare aid), another hospital, or NA
df.discharge_disposition_id.replace(dict_discharge_disposition_id, inplace=True)

print('\n'+'*'*10 +'discharge_disposition_id cleaned'+'*'*10)
try:
    print(summarize_feature(df, 'discharge_disposition_id'))
except:
    print('Feature does not exist')

**********discharge_disposition_id original**********
   values  counts  frequency
0       1   60232   0.591885
1       3   13954   0.137123
2       6   12902   0.126785
3      18    3691   0.036271
4       2    2128   0.020911
5      22    1992   0.019575
6      11    1642   0.016136
7       5    1184   0.011635
8      25     989   0.009719
9       4     815   0.008009
10      7     623   0.006122
11     23     412   0.004049
12     13     399   0.003921
13     14     372   0.003656
14     28     139   0.001366
15      8     108   0.001061
16     15      63   0.000619
17     24      48   0.000472
18      9      21   0.000206
19     17      14   0.000138
20     16      11   0.000108
21     19       8   0.000079
22     10       6   0.000059
23     27       5   0.000049
24     12       3   0.000029
25     20       2   0.000020

**********discharge_disposition_id cleaned**********
     values  counts  frequency
0      home   73134   0.736199
1  assisted   15299   0.154006
2  hospital    5604   0.056412
3        na    5303   0.053382

In [19]:
print('\n'+'*'*10 +'admission_source_id original'+'*'*10)
print(summarize_feature(df, 'admission_source_id'))

dict_admission_source_id = {
    '1':'referral', 
    '2':'referral', 
    '3':'referral',
    '4':'transfer',
    '5':'transfer',
    '6':'transfer',
    '7':'urgent',
    '8':'other',
    '9':'other',
    '10':'transfer',
    '11':'birth',
    '12':'birth',
    '13':'birth',
    '14':'birth',
    '15':'birth',
    '17':'other',
    '18':'transfer',
    '19':'transfer',
    '20':'other',
    '21':'other',
    '22':'transfer',
    '23':'birth',
    '24':'birth',
    '25':'transfer',
    '26':'transfer'}

#amongst the admission_source_id , they are broadly categorized
df.admission_source_id.replace(dict_admission_source_id, inplace=True)

print('\n'+'*'*10 +'admission_source_id cleaned'+'*'*10)
try:
    print(summarize_feature(df, 'admission_source_id'))
except:
    print('Feature does not exist')

**********admission_source_id original**********
   values  counts  frequency
0       7   55848   0.562190
1       1   29167   0.293608
2      17    6570   0.066137
3       4    3118   0.031387
4       6    2239   0.022539
5       2    1081   0.010882
6       5     806   0.008114
7       3     185   0.001862
8      20     159   0.001601
9       9     125   0.001258
10      8      15   0.000151
11     22      12   0.000121
12     10       8   0.000081
13     11       2   0.000020
14     14       2   0.000020
15     25       2   0.000020
16     13       1   0.000010

**********admission_source_id cleaned**********
     values  counts  frequency
0    urgent   55848   0.562190
1  referral   30433   0.306352
2     other    6869   0.069146
3  transfer    6185   0.062261
4     birth       5   0.000050

In [20]:
summarize_feature(df, 'payer_code')
#missing a lot of data, drop column
df = df.drop(['payer_code'], axis = 1)

In [21]:
summarize_feature(df, 'medical_specialty')
#missing a lot of data, drop column
df = df.drop(['medical_specialty'], axis = 1)

In [22]:
print('\n'+'*'*10 +'diag_1 original'+'*'*10)
print(summarize_feature(df, 'diag_1'))

def code_to_category(icd9code):
    try:
        icd9code = float(icd9code)
        if (icd9code >= 390 and icd9code < 460) or icd9code == 785:
            return 'circulatory'
        if (icd9code >= 460 and icd9code < 520) or icd9code == 786:
            return 'respiratory'
        if (icd9code >= 520 and icd9code < 580) or icd9code == 787:
            return 'digestive'
        if (icd9code >= 250 and icd9code < 251):
            return 'diabetes'
        if (icd9code >= 800 and icd9code < 1000):
            return 'injury'
        if (icd9code >= 710 and icd9code < 740):
            return 'musculoskeletal'
        if (icd9code >= 580 and icd9code < 630) or icd9code == 788:
            return 'genitourinary'
        if (icd9code >= 140 and icd9code < 240) or icd9code == 780 or icd9code == 781 or icd9code == 784 or (icd9code >= 790 and icd9code < 800):
            return 'neoplasms'
        if (icd9code >= 240 and icd9code < 250) or (icd9code >= 251 and icd9code < 280) or (icd9code >= 680 and icd9code < 710) or icd9code == 782:
            return 'neoplasms'
        else:
            return 'other'
    except:
        if (icd9code == '?'):
            return '?'
        return 'other'
    
    
#convert the diag to categorical based on icd codes
df.diag_1 = [code_to_category(x) for x in df['diag_1']]
# df.diag_2 = [code_to_category(x) for x in df['diag_2']]
# df.diag_3 = [code_to_category(x) for x in df['diag_3']]

df = df.drop(['diag_2','diag_3'], axis = 1)

print('\n'+'*'*10 +'diag_1 cleaned'+'*'*10)
try:
    print(summarize_feature(df, 'diag_1'))
except:
    print('Feature does not exist')

**********diag_1 original**********
     values  counts  frequency
0       428    6663   0.067073
1       414    6549   0.065925
2       786    4015   0.040417
3       410    3448   0.034709
4       486    3383   0.034055
5       427    2720   0.027381
6       491    2240   0.022549
7       715    2147   0.021613
8       682    2029   0.020425
9       780    2004   0.020173
10      996    1937   0.019499
11      434    1930   0.019428
12      276    1839   0.018512
13    250.8    1655   0.016660
14      599    1564   0.015744
15       38    1497   0.015069
16      584    1450   0.014596
17      V57    1200   0.012080
18    250.6    1177   0.011848
19      820    1069   0.010761
20      493    1054   0.010610
21      577    1045   0.010519
22      435    1014   0.010207
23      562     985   0.009915
24      574     961   0.009674
25      518     947   0.009533
26      296     895   0.009009
27      560     861   0.008667
28    250.7     854   0.008597
29   250.13     849   0.008546
..      ...     ...        ...
686     543       1   0.000010
687     V07       1   0.000010
688     299       1   0.000010
689      84       1   0.000010
690     671       1   0.000010
691     V66       1   0.000010
692     833       1   0.000010
693     919       1   0.000010
694     974       1   0.000010
695     637       1   0.000010
696     870       1   0.000010
697     838       1   0.000010
698     957       1   0.000010
699     827       1   0.000010
700     832       1   0.000010
701     477       1   0.000010
702      98       1   0.000010
703     318       1   0.000010
704     373       1   0.000010
705     976       1   0.000010
706     885       1   0.000010
707     314       1   0.000010
708     691       1   0.000010
709     448       1   0.000010
710     817       1   0.000010
711     V25       1   0.000010
712     381       1   0.000010
713     982       1   0.000010
714     325       1   0.000010
715     V70       1   0.000010

[716 rows x 3 columns]

**********diag_1 cleaned**********
            values  counts  frequency
0      circulatory   29680   0.298772
1      respiratory   13934   0.140266
2        neoplasms   10883   0.109553
3            other   10041   0.101077
4        digestive    9333   0.093950
5         diabetes    8661   0.087185
6           injury    6851   0.068965
7    genitourinary    5002   0.050352
8  musculoskeletal    4935   0.049678
9                ?      20   0.000201

In [23]:
#here we want to note any changes in the dosage of medicine.
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
for col in keys:
    colname = str(col) + 'temp'
    df[colname] = df[col].apply(lambda x: 0 if (x == 'No' or x == 'Steady') else 1)
df['med_dosage_change'] = 0
for col in keys:
    colname = str(col) + 'temp'
    df['med_dosage_change'] = df['med_dosage_change'] + df[colname]
    del df[colname]
#here 0 means no changes in doses of medicine, >0 means there is increase or decrease in dosage

In [24]:
df['number_of_medicine'] = 0
for col in keys:
    df['number_of_medicine'] = df['number_of_medicine'] + df[col].apply(lambda x: 0 if (x == 'No') else 1)
#new column to account for the total number of medicine patient is taking

In [25]:
#these 2 drugs were all 'no', so drop them
df = df.drop(['examide', 'citoglipton'], axis = 1)

## Missing Values

In [26]:
df = df.replace('?', np.nan)
#saw in dataset missing value or unknown has '?', will replace with nan
df.isnull().sum().sort_values(ascending=False).head(10)
#list col with missing values
#diag_2 and diag_3 missing are okay, since diag_1 is present, replace missing with value in diag_1

#drop missing diag_1
df = df.dropna(subset=['diag_1'])

df.isnull().sum().sort_values(ascending=False).head(10)

number_of_medicine    0
nateglinide           0
metformin             0
A1Cresult             0
max_glu_serum         0
number_diagnoses      0
diag_1                0
number_inpatient      0
number_emergency      0
number_outpatient     0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99320 entries, 0 to 101765
Data columns (total 45 columns):
encounter_id                99320 non-null object
patient_nbr                 99320 non-null object
race                        99320 non-null object
gender                      99320 non-null object
age                         99320 non-null int64
admission_type_id           99320 non-null object
discharge_disposition_id    99320 non-null object
admission_source_id         99320 non-null object
time_in_hospital            99320 non-null int64
num_lab_procedures          99320 non-null int64
num_procedures              99320 non-null int64
num_medications             99320 non-null int64
number_outpatient           99320 non-null int64
number_emergency            99320 non-null int64
number_inpatient            99320 non-null int64
diag_1                      99320 non-null object
number_diagnoses            99320 non-null int64
max_glu_serum               99320 non-null object
A1Cresult                   99320 non-null object
metformin                   99320 non-null object
repaglinide                 99320 non-null object
nateglinide                 99320 non-null object
chlorpropamide              99320 non-null object
glimepiride                 99320 non-null object
acetohexamide               99320 non-null object
glipizide                   99320 non-null object
glyburide                   99320 non-null object
tolbutamide                 99320 non-null object
pioglitazone                99320 non-null object
rosiglitazone               99320 non-null object
acarbose                    99320 non-null object
miglitol                    99320 non-null object
troglitazone                99320 non-null object
tolazamide                  99320 non-null object
insulin                     99320 non-null object
glyburide-metformin         99320 non-null object
glipizide-metformin         99320 non-null object
glimepiride-pioglitazone    99320 non-null object
metformin-rosiglitazone     99320 non-null object
metformin-pioglitazone      99320 non-null object
change                      99320 non-null object
diabetesMed                 99320 non-null object
readmitted                  99320 non-null int64
med_dosage_change           99320 non-null int64
number_of_medicine          99320 non-null int64
dtypes: int64(12), object(33)
memory usage: 34.9+ MB

In [28]:
df.shape

(99320, 45)

dummifying categorical features

In [29]:
df.select_dtypes(include=['object']).columns.tolist()

cat_cols = [
 'race',
 'gender',
 'admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'diag_1',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone',
 'change',
 'diabetesMed']

In [30]:
#dummify categorical columns



df_dummified = pd.get_dummies(df, columns=[
 'race',
 'gender',
 'admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'diag_1',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone',
 'change',
 'diabetesMed'],drop_first = True)

#drop_first will drop the first column, meaning if there are 3 categorical, dummy will only make 2. if 0 for both, it will be the 3rd

In [31]:
df_dummified.shape

(99320, 94)

In [32]:
df_dummified.shape

(99320, 94)

In [107]:
df_cleaned = df_dummified.copy(deep=True)

In [108]:
df_cleaned

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,insulin_Up,glyburide-metformin_No,glyburide-metformin_Steady,glyburide-metformin_Up,glipizide-metformin_Steady,glimepiride-pioglitazone_Steady,metformin-rosiglitazone_Steady,metformin-pioglitazone_Steady,change_No,diabetesMed_Yes
0,2278392,8222157,5,1,41,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,149190,55629189,15,3,59,0,18,0,0,0,...,1,1,0,0,0,0,0,0,0,1
2,64410,86047875,25,2,11,5,13,2,0,1,...,0,1,0,0,0,0,0,0,1,1
3,500364,82442376,35,2,44,1,16,0,0,0,...,1,1,0,0,0,0,0,0,0,1
4,16680,42519267,45,1,51,0,8,0,0,0,...,0,1,0,0,0,0,0,0,0,1
5,35754,82637451,55,3,31,6,16,0,0,0,...,0,1,0,0,0,0,0,0,1,1
6,55842,84259809,65,4,70,1,21,0,0,0,...,0,1,0,0,0,0,0,0,0,1
7,63768,114882984,75,5,73,0,12,0,0,0,...,0,1,0,0,0,0,0,0,1,1
8,12522,48330783,85,13,68,2,28,0,0,0,...,0,1,0,0,0,0,0,0,0,1
9,15738,63555939,95,12,33,3,18,0,0,0,...,0,1,0,0,0,0,0,0,0,1
10,28236,89869032,45,9,47,2,17,0,0,0,...,0,1,0,0,0,0,0,0,1,1
11,36900,77391171,65,7,62,0,11,0,0,0,...,0,1,0,0,0,0,0,0,0,1
12,40926,85504905,45,7,60,0,15,0,1,0,...,0,1,0,0,0,0,0,0,0,1
13,42570,77586282,85,10,55,1,31,0,0,0,...,0,1,0,0,0,0,0,0,1,1
14,62256,49726791,65,1,49,5,2,0,0,0,...,0,1,0,0,0,0,0,0,1,1
15,73578,86328819,65,12,75,5,13,0,0,0,...,1,1,0,0,0,0,0,0,0,1
16,77076,92519352,55,4,45,4,17,0,0,0,...,0,1,0,0,0,0,0,0,0,1
17,84222,108662661,55,3,29,0,11,0,0,0,...,0,1,0,0,0,0,0,0,1,1
18,89682,107389323,75,5,35,5,23,0,0,0,...,0,1,0,0,0,0,0,0,1,1
19,148530,69422211,75,6,42,2,23,0,0,0,...,0,1,0,0,0,0,0,0,0,1
20,150006,22864131,55,2,66,1,19,0,0,0,...,0,1,0,0,0,0,0,0,0,1
21,150048,21239181,65,2,36,2,11,0,0,0,...,0,1,0,0,0,0,0,0,0,1
22,182796,63000108,75,2,47,0,12,0,0,0,...,0,1,0,0,0,0,0,0,1,0
23,183930,107400762,85,11,42,2,19,0,0,0,...,0,1,0,0,0,0,0,0,1,0
24,216156,62718876,75,3,19,4,18,0,0,0,...,0,1,0,0,0,0,0,0,0,1
25,221634,21861756,55,1,33,0,7,0,0,0,...,0,1,0,0,0,0,0,0,1,1
26,236316,40523301,85,6,64,3,18,0,0,0,...,0,1,0,0,0,0,0,0,0,1
27,248916,115196778,55,2,25,2,11,0,0,0,...,0,1,0,0,0,0,0,0,1,1
28,250872,41606064,25,10,53,0,20,0,0,0,...,0,1,0,0,0,0,0,0,0,1
29,252822,18196434,85,5,52,0,14,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101735,443739044,106595208,75,6,46,5,14,0,0,1,...,1,1,0,0,0,0,0,0,0,1
101736,443739152,90751788,65,8,54,1,20,1,0,1,...,0,1,0,0,0,0,0,0,1,1
101737,443775086,125764160,45,4,50,4,25,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101738,443775482,95780439,75,1,37,0,10,0,0,2,...,0,1,0,0,0,0,0,0,1,1
101739,443775740,30656952,75,1,32,6,14,2,0,2,...,0,1,0,0,0,0,0,0,1,1
101740,443778398,134647673,45,1,1,5,8,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101741,443787128,58160520,95,4,21,1,8,0,0,1,...,0,1,0,0,0,0,0,0,1,0
101742,443787512,52419276,75,4,43,0,10,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101744,443793992,43686936,85,1,49,0,12,0,0,0,...,0,1,0,0,0,0,0,0,1,0
101745,443797076,183766055,55,3,57,0,7,0,1,0,...,0,1,0,0,0,0,0,0,0,1
101746,443797298,89955270,75,4,2,0,7,1,0,0,...,0,1,0,0,0,0,0,0,1,1
101747,443804570,33230016,75,8,51,6,19,0,0,0,...,0,1,0,0,0,0,0,0,1,1
101748,443811536,189481478,45,14,69,0,16,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101749,443816024,106392411,75,3,27,1,29,0,1,0,...,0,1,0,0,0,0,0,0,0,1
101750,443824292,138784172,85,3,31,2,24,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101751,443835140,175326800,75,13,77,6,65,0,0,0,...,1,1,0,0,0,0,0,0,0,1
101752,443835512,139605341,45,3,13,1,5,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101753,443841992,184875899,45,13,51,2,13,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101754,443842016,183087545,75,9,50,2,33,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101755,443842022,188574944,45,14,73,6,26,0,1,0,...,1,1,0,0,0,0,0,0,0,1
101756,443842070,140199494,65,2,46,6,17,1,1,1,...,0,1,0,0,0,0,0,0,1,1
101757,443842136,181593374,75,5,21,1,16,0,0,1,...,0,1,0,0,0,0,0,0,1,1
101758,443842340,120975314,85,5,76,1,22,0,1,0,...,1,1,0,0,0,0,0,0,0,1
101759,443842778,86472243,85,1,1,0,15,3,0,0,...,1,1,0,0,0,0,0,0,0,1
101760,443847176,50375628,65,6,45,1,25,3,1,2,...,0,1,0,0,0,0,0,0,0,1
101761,443847548,100162476,75,3,51,0,16,0,0,0,...,0,1,0,0,0,0,0,0,0,1
101762,443847782,74694222,85,5,33,3,18,0,0,1,...,0,1,0,0,0,0,0,0,1,1
101763,443854148,41088789,75,1,53,0,9,1,0,0,...,0,1,0,0,0,0,0,0,0,1
101764,443857166,31693671,85,10,45,2,21,0,0,1,...,1,1,0,0,0,0,0,0,0,1
101765,443867222,175429310,75,6,13,3,3,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [35]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99320 entries, 0 to 101765
Data columns (total 94 columns):
encounter_id                         99320 non-null object
patient_nbr                          99320 non-null object
age                                  99320 non-null int64
time_in_hospital                     99320 non-null int64
num_lab_procedures                   99320 non-null int64
num_procedures                       99320 non-null int64
num_medications                      99320 non-null int64
number_outpatient                    99320 non-null int64
number_emergency                     99320 non-null int64
number_inpatient                     99320 non-null int64
number_diagnoses                     99320 non-null int64
readmitted                           99320 non-null int64
med_dosage_change                    99320 non-null int64
number_of_medicine                   99320 non-null int64
race_Asian                           99320 non-null uint8
race_Caucasian                       99320 non-null uint8
race_Hispanic                        99320 non-null uint8
race_Other                           99320 non-null uint8
race_unknown                         99320 non-null uint8
gender_Male                          99320 non-null uint8
admission_type_id_na                 99320 non-null uint8
admission_type_id_newborn            99320 non-null uint8
admission_type_id_urgent             99320 non-null uint8
discharge_disposition_id_home        99320 non-null uint8
discharge_disposition_id_hospital    99320 non-null uint8
discharge_disposition_id_na          99320 non-null uint8
admission_source_id_other            99320 non-null uint8
admission_source_id_referral         99320 non-null uint8
admission_source_id_transfer         99320 non-null uint8
admission_source_id_urgent           99320 non-null uint8
diag_1_diabetes                      99320 non-null uint8
diag_1_digestive                     99320 non-null uint8
diag_1_genitourinary                 99320 non-null uint8
diag_1_injury                        99320 non-null uint8
diag_1_musculoskeletal               99320 non-null uint8
diag_1_neoplasms                     99320 non-null uint8
diag_1_other                         99320 non-null uint8
diag_1_respiratory                   99320 non-null uint8
max_glu_serum_>300                   99320 non-null uint8
max_glu_serum_None                   99320 non-null uint8
max_glu_serum_Norm                   99320 non-null uint8
A1Cresult_>8                         99320 non-null uint8
A1Cresult_None                       99320 non-null uint8
A1Cresult_Norm                       99320 non-null uint8
metformin_No                         99320 non-null uint8
metformin_Steady                     99320 non-null uint8
metformin_Up                         99320 non-null uint8
repaglinide_No                       99320 non-null uint8
repaglinide_Steady                   99320 non-null uint8
repaglinide_Up                       99320 non-null uint8
nateglinide_No                       99320 non-null uint8
nateglinide_Steady                   99320 non-null uint8
nateglinide_Up                       99320 non-null uint8
chlorpropamide_No                    99320 non-null uint8
chlorpropamide_Steady                99320 non-null uint8
chlorpropamide_Up                    99320 non-null uint8
glimepiride_No                       99320 non-null uint8
glimepiride_Steady                   99320 non-null uint8
glimepiride_Up                       99320 non-null uint8
acetohexamide_Steady                 99320 non-null uint8
glipizide_No                         99320 non-null uint8
glipizide_Steady                     99320 non-null uint8
glipizide_Up                         99320 non-null uint8
glyburide_No                         99320 non-null uint8
glyburide_Steady                     99320 non-null uint8
glyburide_Up                         99320 non-null uint8
tolbutamide_Steady                   99320 non-null uint8
pioglitazone_No                      99320 non-null uint8
pioglitazone_Steady                  99320 non-null uint8
pioglitazone_Up                      99320 non-null uint8
rosiglitazone_No                     99320 non-null uint8
rosiglitazone_Steady                 99320 non-null uint8
rosiglitazone_Up                     99320 non-null uint8
acarbose_No                          99320 non-null uint8
acarbose_Steady                      99320 non-null uint8
acarbose_Up                          99320 non-null uint8
miglitol_No                          99320 non-null uint8
miglitol_Steady                      99320 non-null uint8
miglitol_Up                          99320 non-null uint8
troglitazone_Steady                  99320 non-null uint8
tolazamide_Steady                    99320 non-null uint8
tolazamide_Up                        99320 non-null uint8
insulin_No                           99320 non-null uint8
insulin_Steady                       99320 non-null uint8
insulin_Up                           99320 non-null uint8
glyburide-metformin_No               99320 non-null uint8
glyburide-metformin_Steady           99320 non-null uint8
glyburide-metformin_Up               99320 non-null uint8
glipizide-metformin_Steady           99320 non-null uint8
glimepiride-pioglitazone_Steady      99320 non-null uint8
metformin-rosiglitazone_Steady       99320 non-null uint8
metformin-pioglitazone_Steady        99320 non-null uint8
change_No                            99320 non-null uint8
diabetesMed_Yes                      99320 non-null uint8
dtypes: int64(12), object(2), uint8(80)
memory usage: 18.9+ MB

In [111]:
cleaned_df = df_dummified.copy(deep=True)

In [121]:
cleaned_df.to_csv('./cleaned_df.csv')

In [114]:
train_cleaned_df, test_cleaned_df = train_test_split(cleaned_df, test_size=0.15, random_state=123)

print(train_cleaned_df.shape)
print(test_cleaned_df.shape)

(84422, 94)
(14898, 94)

In [115]:
train_cleaned_df.to_csv('./train_cleaned_df.csv', index=False)
test_cleaned_df.to_csv('./test_cleaned_df.csv', index=False)

In [116]:
unique_train_cleaned_df = train_cleaned_df.drop_duplicates(subset= ['patient_nbr'], keep = 'first')
unique_test_cleaned_df = test_cleaned_df.drop_duplicates(subset= ['patient_nbr'], keep = 'first')

In [117]:
unique_train_cleaned_df.to_csv('./unique_train_cleaned_df.csv', index=False)
unique_test_cleaned_df.to_csv('./unique_test_cleaned_df.csv', index=False)

In [122]:
unique_cleaned_df = cleaned_df.drop_duplicates(subset= ['patient_nbr'], keep = 'first')

In [123]:
train_unique_cleaned_df, test_unique_cleaned_df = train_test_split(unique_cleaned_df, test_size=0.15, random_state=123)

In [124]:
unique_cleaned_df.to_csv('./unique_cleaned_df.csv', index=False)

train_unique_cleaned_df.to_csv('./train_unique_cleaned_df.csv', index=False)
test_unique_cleaned_df.to_csv('./test_unique_cleaned_df.csv', index=False)

In [103]:
df2_cleaned = df_cleaned.drop_duplicates(subset= ['patient_nbr'], keep = 'first')

In [104]:
df2_cleaned.to_csv('./diabetic_df_cleaned_unique_only')

In [37]:
from sklearn.model_selection import train_test_split

In [88]:
train_df, test_df = train_test_split(df_cleaned, test_size=0.10, random_state=13)

In [51]:
train_cleaned_df.to_csv('./train_cleaned_df.csv', index=False)
test_cleaned_df.to_csv('./test_cleaned_df.csv', index=False)

In [90]:
print(train_cleaned_df.shape)
print(test_cleaned_df.shape)
9932/89388

(89388, 94)
(9932, 94)

0.1111111111111111

In [96]:
unique_train_cleaned_df = train_cleaned_df.drop_duplicates(subset= ['patient_nbr'], keep = 'first')
unique_test_cleaned_df = test_cleaned_df.drop_duplicates(subset= ['patient_nbr'], keep = 'first')

In [92]:
asdafsdf = df_cleaned.drop_duplicates(subset= ['patient_nbr'], keep = 'first')

In [93]:
new_unique_train_cleaned_df, new_unique_train_cleaned_df = train_test_split(asdafsdf, test_size=0.15, random_state=13)

In [94]:
summarize_feature(df_cleaned, 'readmitted')

   values  counts  frequency
0       0   88011   0.886136
1       1   11309   0.113864

In [59]:
summarize_feature(train_cleaned_df, 'readmitted')

   values  counts  frequency
0       0   74837   0.886463
1       1    9585   0.113537

In [95]:
summarize_feature(test_cleaned_df, 'readmitted')

   values  counts  frequency
0       0    8380   0.895395
1       1     979   0.104605

In [97]:
summarize_feature(unique_train_cleaned_df, 'readmitted')

   values  counts  frequency
0       0   59652   0.925167
1       1    4825   0.074833

In [98]:
summarize_feature(unique_test_cleaned_df, 'readmitted')

   values  counts  frequency
0       0    8380   0.895395
1       1     979   0.104605

In [99]:
summarize_feature(new_unique_train_cleaned_df, 'readmitted')

   values  counts  frequency
0       0   54139   0.910175
1       1    5343   0.089825

In [100]:
summarize_feature(new_unique_test_cleaned_df, 'readmitted')

   values  counts  frequency
0       0   12290   0.896557
1       1    1418   0.103443